<div class="columns">
  <div class="column">
    <strong>Company</strong>
  </div>

  <div class="column">
    <strong>Product</strong>
  </div>

  <div class="column">
    <strong>Subproduct</strong>
  </div>

  <div class="column">
    <strong>Issue</strong>
  </div>

  <div class="column">
    <strong>Subissue</strong>
  </div>

  <div class="column">
    <strong>ZIP</strong>
  </div>

  <div class="column">
    <strong>via</strong>
  </div>

</div>

<li *ngFor="let complaint of complaints">

  <div class="columns">
    <div class="column" 
      (click)="getComplaintsByCompany(complaint.relationships.consumer_complaint_company.data.id)">
      {{ complaint.attributes.company }}
    </div>

    <div class="column">
      {{ complaint.attributes.product }}
    </div>

    <div class="column">
      {{ complaint.attributes.subproduct }}
    </div>

    <div class="column">
      {{ complaint.attributes.issue }}
    </div>
  
    <div class="column">
      {{ complaint.attributes.subissue }}
    </div>

    <div class="column">
      {{ complaint.attributes.zip_code }}
    </div>

    <div class="column">
      {{ complaint.attributes.submitted_via }}
    </div>

  </div>

</li>
