<nav class="navbar is-success" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="container">
      <h1 class="title">
        {{ title | uppercase }}
      </h1>
      <p class="subtitle">
        Consumer complaints from data.gov via the CFPB
      </p>
    </div>
  </div>
</nav>

<br />
<br />

<app-consumer-complaints>Loading...</app-consumer-complaints>

<footer class="footer">

  <div class="content has-text-centered">

    <p>

      <strong>Consumer Complaint data from data.gov</strong> by <a href="https://www.cooksey.io">Charlie Cooksey</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.

    </p>

  </div>
</footer>
